.canva-embed-controls {
	display: none !important;
}
.wrapdenied {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
	height: 100vh;
	width: 100%;
	overflow: hidden !important;
}
.message {
	font-size: 3rem;
	padding: 10px;
	color: white;
	font-weight: 900;
}

.subMessage {
	font-size: 1rem;
	text-align: center;
	width: 60%;
	color: white;
	margin-bottom: 20px;
}
.wrap {
	overflow-x: hidden;
	overflow-y: hidden;
}

.buttons {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	left: 0px;
	z-index: 999;
	gap: 20px;
}
@media print {
	.wrap {
		display: none;
	}
}

.big-div {
	/* padding-top: 10vh;
  background: rgb(31, 51, 85);
  background: linear-gradient(90deg, rgba(31, 51, 85, 0.88) 0%, #004edc 35%);
  color: white;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  height: 100vh; */
}

.big-div span {
	display: none;
}

.wrap-contentMaterial {
	/* width: 50%;
  height: 100%;
  background-color: rgba(31, 51, 85, 0.5);
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 2vw;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset; */
}

.pdf {
	transform: scale(0.68);
	position: absolute;
	top: -260px;
	left: -230px;
}
